{% extends 'base.html' %}
{% block title %}
    <title>Create Board</title>
{% endblock %}

{% block content %}
    <div class="container jumbotron">

        <h1>Create a New Board</h1>

        <form class="form-group" action="{{ url_for('create_board') }}" method="POST">
            Board Name: <input class="form-control mb-2" type="text" name="board_name">
            Board Description: <input class="form-control mb-3" type="text" name="board_description">
            <button class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}